.results-item {
    background: transparent;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    color: #000;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 4px;
    min-height: 260px;
    overflow: hidden;
    padding: 3px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 140px;
}

.results-item-wording {
    margin-top: 200px;
    padding: 3px;
    position: relative;
}
