.item-image {
    background: #808080;
    height: auto;
    left: 0;
    max-height: 205px;
    position: absolute;
    top: 0;
    width: 140px;
}

.cover {
    height: auto;
    max-height: 350px;
    width: 200px;
}
