.rating {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 26px;
    text-align: center;
    width: 30px;
    vertical-align: middle;
    margin: 0 10px;
}
