.rating {
    border: 1px solid #000;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    text-align: center;
    width: 30px;
}
